/.project
/.pydevproject
/.settings/
/.idea/
/build/
/dist/
/__pycache__/
/lastLogs.html
/masternode.conf
/venv*/
/.pytest_cache/

# Ignore build artifacts
/SPMT-*
/*.zip
/*.exe
/*.tar.gz
/*.dmg
/*.app
